@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:400,700';
html {
  font-size: 1.75vw;
}

body {
  background: #334;
}

.bracket {
  display: inline-block;
  position: absolute;
  left:0;
  top:0;
  left: 50%;
  top: 54%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  height: 92%;
}
.bracket .round {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 0.25rem;
  height: 100%;
}
.bracket .round  > div {
  /* display: inline-block;
  vertical-align: middle; */
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
  /* gap: 1rem; */
}

.bracket .round  >  .matchup:last-child {
  margin-bottom: 0 !important;
}
.bracket .round  >  .matchup .participants {
  border-radius: 0.25rem;
  overflow: hidden;
}
.bracket .round  >  .matchup .participants .participant {
  box-sizing: border-box;
  color: #cecece  ;
  border-left: 0.25rem solid #cecece;
  font-size: 2vh;
  background: #123;
  width: 12rem;
  height: 2rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}
.bracket .round  >  .matchup .participants .participant.winner {
  color: #1e4613;
  border-color: #3e6932;
}
.bracket .round  >  .matchup .participants .participant.loser {
  color: #ff2600;
  border-color: #dc563f;
}
.bracket .round  >  .matchup .participants .participant:not(:last-child) {
  border-bottom: 1px solid #408585;
}
.bracket .round  >  .matchup .participants .participant span {
  margin: 0 1.25rem;
  line-height: 3;
  font-size: 1.2vw;
  font-family: "Roboto Slab";
}
/* .bracket .round  > div.connector.filled .line, .bracket .round  > div.connector.filled.bottom .merger:after, .bracket .round  > div.connector.filled.top .merger:before {
  border-color: #4edd27;
}
.bracket .round  > div.connector .line, .bracket .round  > div.connector .merger {
  box-sizing: border-box;
  width: 2rem;
  display: inline-block;
  vertical-align: top;
} */
/* .bracket .round  > div.connector .line {
  border-bottom: 1px solid #9696d1;
  height: 4rem;
}
.bracket .round  > div.connector .merger {
  position: relative;
  height: 8rem;
} */
.bracket .round  > div.connector .merger:before, .bracket .round  > div.connector .merger:after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  border: 0 solid;
  border-color: #8d8dac;
}
.bracket .round  > div.connector .merger:before {
  border-right-width: 1px;
  border-top-width: 1px;
}
.bracket .round  > div.connector .merger:after {
  border-right-width: 1px;
  border-bottom-width: 1px;
}
/* 
.bracket .round.r3 :not(:last-child) {
  margin-bottom: 1rem;
}
.bracket .round.r3   .matchup:not(:last-child) {
  margin-bottom: 1rem;
}

.bracket .round.quarterfinals :not(:last-child) {
  margin-bottom: 8rem;
}
.bracket .round.quarterfinals   .matchup:not(:last-child) {
  margin-bottom: 8rem;
}
.bracket .round.semifinals   .matchup:not(:last-child) {
  margin-bottom: 22rem;
}
32.bracket .round.semifinals  .connector .line {
  height: 14rem;
}
.bracket .round.finals  .connector .merger {
  height: 3rem;
}
.bracket .round.finals  .connector .line {
  height: 1.5rem;
} */

.participant {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.participant input{
  width: 30%;
  height: 100%;
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
}